<!DOCTYPE HTML>
<html lang="ko">
  <head>
    <meta charset="utf-8">
   <meta http-equiv="refresh" content="10">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOWN</title>

  </head>
  <body>
    <div id="jb-container">
      <center>
     <div id="jb-header">
     </div>
     
     <div>
       <img src="down.jpeg" 
      align="center"  height="300", width="500"/>
     </div>
     <div >
     <center>
       <a href="../game">
                 <button style="width: 100px; height:40px" >guess again!</button>
   </center>
      
     </div>
     </center>
  </body>
</html>
