<html>
  <head>
    <title> 괜찮아 그런 날도 있지... </title>
  </head>
    <body>
      <center>
        <span style="font-family:serif;">
        <h1>UP & DOWN! - LOSE</h1>
      </span>
      </center>
      <div>
        <div align="center">
        <img src="lose.jpg" width="300" height="400">
      </div>
      <span style="font-family:serif;">
        <h3 align="center"> 패배하셨습니다! </h3>
      </span>
      <div align="center">
        <center>
          <a href="../index">
            <button style="width: 100px; height:40px" > go to main!</button>
         </a>
        
        </center>
      </div>
      
    </body>
</html>
