
<html>
<head>
<meta charset="utf-8">
<title> UP & Down Game </title>
<style>
 #content{
    width: 450px;
    padding: 15px;
    margin-bottom: 20px;
    float: center;
    text-align: left;
    border: 1px solid #bcbcbc;
 }
 </style>

</head>



<body>

<div>
    <center>
	<h1 align="center">UP & Down !</h1>
    </center>
		
</div>
<div align="center">

<img src="C:\Users\me\django\udgame\templates\udgame\main_img.png" align="center" alt="main_img" height="248", width="204"/>

</div>

<div align="center">
    <center>
	<a href="../game">
	    <button style="width: 80px; height:30px" > start! </button>
            
        </a>
    </center>
</div>

<p>


</p>

<div align="center">
<div id="content">
    <div style="text-align:center">
    <h2>Rules</h2>
    </div>
    <ul align="left">
        <li>'1부터 100사이의 숫자 중 하나가 random으로 정해진다''</li>
        <li>유저가 숫자 하나를 말하면 정해진 random숫자를 기준으로 up인지 down인지 알려준다</li>
        <li>위의 과정을 반복한다</li>
        <li>제한된 기회(6번)안에 성공하면 유저가 승리!</li>
        <li>제한된 기회를 넘어서면 컴퓨터가 승리!</li>
    </ul>

</div>
</body>
<html>
