<html>
  <head>
    <title>UP</title>
    </head>
    <body>
      <center>
        <div>
          <div align="center">
          <img src="up.jpg" width="800" height="350">
        </div>
        <br><br/>
      </center>
      <center>
        <div>
          <p>You have to input larger number!</p>
      </center>
      <div align="center">
        <center>
          <a href="../game">
            <button style="width: 100px; height:40px" > 뒤로가기 </button>
          </a>
        </center>
      </div>
    </body>
</html>
