<!DOCTYPE HTML>
<html lang="ko">
  <head>
    <meta charset="utf-8">
   <meta http-equiv="refresh" content="10">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 이겼닭! 치킨이닭! </title>

  </head>
  <body>
    <div id="jb-container">
      <center>
     <div id="jb-header">
        
      <h1 align="center">UP&Down! - Win</h1>
     </div>
     
     <div>
       <img src="win.jpg" align="center"  height="300", width="500"/>
      <h3 align="center"> 승리하셨습니다! </h1>
     </div>
     <div >
     <center>
       <a href="../main">
                  <button style="width: 100px; height:40px" >go to main!</button>
     </center>
      
     </div>
     </center>
  </body>
</html>
